.form_fader { 
	display: none; position: fixed; 
	left: 0; top: 0; 
	width: 100%; height: 100%;  z-index: 9000;
	background: #000; opacity: .80
}

/*
 * Форма для ввода sms кода и форма для сообщения об ошибках
 */
.code_input_form, .info_form {
	display: none; position: absolute;
	left: 200px; top: 120px;
	width: 300px; max-height: 200px; z-index: 10000;
	padding: 10px;
	background-color: white; border: 1px solid #ddd; border-radius: 10px 10px 10px 10px; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.code_input_form div, .info_form div {
	clear:both; font-size:12px; padding:5px 8px 5px;
	text-align: center;
}
.sms-code {
	color:#666;
	border:1px solid #ddd;
	width:60px; height:20px;
	text-align:center;
}
.send_button {}
.cancel_button {}
.refresh_button {
	background:url(../images/icons/reload.png) no-repeat 0 0;
	background-size: cover;
	top: -3px;
	position: relative;
	color:#666;
	margin-left: 5px;
	border:1px solid #ddd;
	width:22px; height:22px;
	
}
.ok_button {}

/*
 * Форма для ввода данных банковской карты
 */
.card_input_form {}
.card-left{background:url(../images/cart.png) no-repeat 0 0 #f3f4f5; width:363px; height:250px; float:left; margin:0 0 30px; padding:0 1px; font-size:12px; overflow:hidden; }
.card-left-table td{padding:5px 3px;}
.card-right{background:url(../images/cart.png) no-repeat 0 0; width:363px; height:230px; float:right; margin:0 0 30px; padding:20px 1px 0; overflow:hidden}
.card-right-line{background:#dbdddc; height:50px;}
.card-right-table{font-size:12px; float:right; color:#666;}
.card-right-table td{padding:5px 10px 0 0; text-align:center;}
.card-right-table td a{color:#3f95ba; cursor: help}

/*
 * Поля на форме
 */
.card-title{clear:both; font-size:12px; padding:5px 10px 5px;}
.card-num{float:left; width:58px; height:14px; border:1px solid #ddd; margin:0 10px 5px; font-size:12px; padding:5px; line-height:14px; color:#666; text-align:center;}
.card-date{float:left; width:70px; height:27px; border:1px solid #ddd;  font-size:12px; padding:3px; line-height:14px; color:#666; text-align:center; margin:0 10px 5px;}
.card-fio{width:330px; height:14px; border:1px solid #ddd; margin:0 0 0 10px; font-size:12px; padding:5px; line-height:14px; color:#666;}
.card-cvc{border:5px solid #ddd; height:14px; width:60px; text-align:center; color:#666; padding:3px 0; line-height:14px; font-size:12px;}

.field-ok { border-color: #b3c7f3 }
.field-error { border-color: red  }
.active { background-color: white; }
.no-active { background-color: #f3f4f5; }